{% extends "base.html" %}

{% block specific_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_forms.css') }}">
{% endblock %}

{% block content %}
<div class="content">
    <div class="form-box">
        <h1>Create a New Recipe</h1>
        <form action="{{ url_for('recipe.create_recipe')}}" method="post" enctype="multipart/form-data">
            <div class="input-group">
                <div class="input-field">
                    <input type="text" name = "title" placeholder="Title" required/>
                </div>
                <div class="input-field">
                    <input type="text" name = "description" placeholder="Description" required/>
                </div>
                <div class="input-field">
                    <label for="people">Number of People:</label>
                    <select id="people" name="n_person" required>
                        <option value="1">1 person</option>
                        <option value="2">2 people</option>
                        <option value="3">3 people</option>
                        <option value="4">4 people</option>
                        <option value="5">5 people</option>
                        <option value="6">6+ people</option>
                    </select>
                </div>
                <div class="input-field">
                    <input type="number" name = "cooking_time" placeholder="Cooking Time (min)" required/>
                </div>
                <div class="input-field">
                    <label for="difficulty">Difficulty:</label>
                    <select id="difficulty" name="dificulty">
                        <option value="easy">Easy</option>
                        <option value="medium">Medium</option>
                        <option value="hard">Hard</option>
                        <option value="expert">Expert</option>
                    </select>
                </div>                
                <div class="input-field">
                    <label for="photo">Upload Photo:</label>
                    <input type="file" id= "main_photo" name="main_photo" accept="image/jpeg,image/png" required/>
                </div>
            </div>
            <div class="btn-field">
                <button type="submit" >Upload</button>
            </div>

        </form>
        <div class="flash-messages">
            {% with messages = get_flashed_messages() %}
                {% for message in messages %}
            <div class="notification">{{ message }}</div>
                {% endfor %}
            {% endwith %}
        </div>
    </div>
</div>

<!--falta fotos ingredientes y steps-->
{% endblock %}