{% extends 'base.html' %}

{% block specific_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_recipeView.css') }}">
{% endblock %}

{% block content %}
<div class="recipe-container">
    <div class="title">
        <h1>{{recipe.title}}</h1>
        <img src="{{ url_for('static', filename='main_photos/' + recipe.main_photo) }}" alt="Recipe Image">
    </div>


    <div class="created-by">
        <p><b>Published by: </b> <i><a href="{{ url_for('main.profile', user_id=recipe.user.id) }}"> {{recipe.user.name}}</a></i></p>
    </div>

    <div class="description">
        <p>{{recipe.description}}</p>
    </div>

    <div class="recipe-details">
        <div class="n-persons">
            <img src = "{{ url_for('static', filename= 'person.png') }}", alt ="person_symbol">
            <p>Number of guests: <b>{{recipe.n_person}}</b></p>
        </div>

        <div class="cooking-time">
            <img src = "{{ url_for('static', filename= 'clock.png') }}", alt ="clock_symbol">
            <p>Cooking Time: <b>{{recipe.cooking_time}} min</b></p>
        </div>

        <div class="dificulty-level">
            <img src = "{{ url_for('static', filename= 'hat.png') }}", alt ="hat_symbol">
            <p>Dificulty level: <b>{{recipe.dificulty}}</b></p>
        </div>

    </div>

    <div class="ingredients">
        <h2>Ingredients</h2>
            <ul>
                {% for ing in ingredients %}
                    <li>{{ing.number}} {{ing.unit_measurement}} of {{ing.name}}</li> 
                {% endfor %}
            </ul>
        </div>
    
        <div class="steps">
            <h2>Steps</h2>
                <ol>
                    {% for step in steps %}
                        <li>{{step.description}}</li> 
                    {% endfor %}
                </ol>
        </div>
        <div class="other-photos">
            <h2>Photos from other users:</h2>
                {% if recipe.photos %}
                <div>
                    {% for photo in recipe.photos %}
                        <img src="{{ url_for('static', filename='other_photos/' ~ recipe_id ~ '-' ~ photo.id ~ '.' ~ photo.file_extension) }}" alt="photo">
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {% if current_user.is_authenticated %}
            <div class="forms-for-users">
                <h2>Rate the recipe!</h2>
                    <form action="{{ url_for('recipe.rate', recipe_id=recipe.id)}}" method="post">
                        <div class="rating">
                            <input type="radio" id="star5" name="rating" value=5 />
                            <label for="star5"></label>
                            <input type="radio" id="star4" name="rating" value=4 />
                            <label for="star4"></label>
                            <input type="radio" id="star3" name="rating" value=3 />
                            <label for="star3"></label>
                            <input type="radio" id="star2" name="rating" value=2 />
                            <label for="star2"></label>
                            <input type="radio" id="star1" name="rating" value=1 />
                            <label for="star1"></label>
                        </div>
                        <div class="btn-field">
                            <button type="submit" >Rate</button>
                        </div>
                    </form>
                    <div class="flash-rate">
                        {% with messages = get_flashed_messages(category_filter=["rate"]) %}
                            {% for message in messages %}
                                <div class="notification">{{ message }}</div>
                            {% endfor %}
                        {% endwith %}
                    </div>
                    <h2>Post a Photo of your Version</h2>
                    <form action="{{ url_for('recipe.upload_photo', recipe_id=recipe_id) }}" method="POST" enctype="multipart/form-data">
                        <label for="photo">Upload Photo:</label>
                        <input type="file" id= "other_photos" name="other_photos" accept="image/jpeg,image/png" required/>
                        <button type="submit">Submit</button>
                    </form>
                    <section class="bookmark">
                        <form action="{{ url_for('recipe.bookmark', recipe_id=recipe_id) }}" method="POST">
                            <button type="submit" name = "bookmark" class="bookmark-btn">Bookmark Recipe</button>
                        </form>
                        <div class="flash-bookmark">
                            {% with messages = get_flashed_messages(category_filter=["bookmark"]) %}
                                {% for message in messages %}
                                    <div class="notification-book">{{ message }}</div>
                                {% endfor %}
                            {% endwith %}
                        </div>
                    </section>
            </div>
            {% endif %}
</div>
{% endblock %}


