{% extends 'base.html' %}

{% block specific_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_recipeInterm.css') }}">
{% endblock %}

{% block content %}
<div class="recipe-info">
    <h1>The information you provided from the recipe is:</h1>
        <ul>
            <li><b>Title: </b>{{recipe.title}}</li>
            <li><b>Description: </b>{{recipe.description}}</li>
            <li><b>Number of guests: </b>{{recipe.n_person}}</li>
            <li><b>Cooking Time: </b>{{recipe.cooking_time}}</li>
            <li><b>Dificulty level: </b>{{recipe.dificulty}}</li>
        </ul>
        <p>Image: </p>
        <img src="{{ url_for('static', filename='main_photos/' + recipe.main_photo) }}" alt="Recipe Image">
    
    <div class="ingredients"> 
        <h2>Ingredients already added:</h2>
            <ul>
                {% for ing in recipe.ingredients %}
                    <li>{{ing}}</li> 
                {% endfor %}
            </ul>
    </div>
    <div class="steps">
        <h2>Steps already added:</h2>
            <ol>
                {% for step in recipe.steps %}
                    <li>{{step}}</li> 
                {% endfor %}
            </ol>
    </div>
    <form action="{{ url_for('recipe.recipe_interm/add_ingredient', recipe_id=recipe.id) }}" method="post">
        <input type="text" list="ingredients" name="ingredient" placeholder="Select or Add Ingredient" required>
        <datalist id="ingredients">
            {% for ingredient in existing_ingredients %}
                <option value="{{ ingredient.name }}">
            {% endfor %}
        </datalist>
        <input type="number" name="quantity" placeholder="Quantity" required>
        <input type="text" name="units" placeholder="Units" required>
        <button type="submit" name="add_ingredient">Add Ingredient</button>
    </form>

    <form action="{{ url_for('recipe_interm.add_step', recipe_id=recipe.id) }}" method="post">
        <textarea name="step_description" placeholder="Enter Step Description" required></textarea>
        <button type="submit" name="add_step">Add Step</button>
    </form>
    
    <!-- Mark Recipe as Complete -->
    <form action="{{ url_for('recipe_interm.recipe-completed', recipe_id=recipe.id) }}" method="post">
        <button type="submit" name="mark_complete">Submit Recipe</button>
    </form>

</div>

{% endblock %}


