{% extends 'base.html' %}

{% block specific_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_logout.css') }}">
{% endblock %}

{% block content %}
    <div class="content">
        <div class="form-box">
            <h1>Log Out</h1>
            <p>Are you sure you want to Log out?</p>
            <form action="{{ url_for('auth.logout')}}" method="post">
                <input type="submit" value="Log Out" class="logout-btn">
            </form>
                
        </div>
    </div>

{% endblock %}