/* Navigation Bar */
header{
    height: 75;
    justify-content: space-between;
    display: flex;
    height: 70px;
    background-color: #938989;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-family: "Constantia", serif;
    font-size: 20px;
}

footer{
    height: 75;
    height: 70px;
    background-color: #938989;
}

.logo{
    display: flex;
    align-items: center;

}

a{
    text-decoration: None;
    color:#333;
}
.logo img{
    height: 50px;
    margin-left: 10px;
}

nav a{
    padding-left: 20px;
}

.nav-container {
    display: flex;
    align-items: center;
}

.welcome-user{
    padding-left: 15px;
} 

.log-out-btn{
    border-radius: 10px; 
    padding: 10px; 
    background-color: #8d1a1a; 
    width: 100px;
    padding-left: 10px;
    margin-left: 15px;
}

.log-out-btn a {
    color: white;
    font-weight: bold;
}