/* Navigation Bar */
header{
    height: 75;
    justify-content: space-between;
    display: flex;
    height: 70px;
    background-color: #938989;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-family: "Constantia", serif;
}

footer{
    height: 75;
    height: 70px;
    background-color: #938989;
}

.logo{
    display: flex;
    align-items: center;

}

a{
    text-decoration: None;
    color:#333;
}
.logo img{
    height: 50px;
    margin-left: 10px;
}

nav a{
    padding-left: 20px;
}

.nav{
    display: flex; /* Establece el contenedor como un flex container */
    justify-content: space-between;
} 

