
/* Home page photo and text */

.principal_image{
    position: relative;
    display: inline-block;
    text-align: center;
}

.principal_image img {
    width: 100%; 
    margin: 0; 
    padding: 0; 
    display: block;
   /*transform: scale(1.5);t*/
}
 

.welcome-text{
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    font-family: "Constantia", serif;
    font-size: 70px;
    color: white;
    text-align: right;

}


/* Estilos para las recetas */
.recipes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}

.recipe {
    width: 300px;
    margin-bottom: 30px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.recipe img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.recipe h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.recipe p {
    margin-bottom: 15px;
}

.recipe a {
    display: inline-block;
    padding: 8px 15px;
    background-color: #333;
    color:  white;
    text-decoration: none;
    border-radius: 5px;
}

