/*para el user registration form SIN ACABAR*/
.content{
    width:100%;
    height: 100vh;
    background-image: linear-gradient(rgba(79, 48, 16, 0.8),rgba(108, 84, 50, 0.8)),url("image_homepage.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

.form-box{
    width:50%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
    padding: 50px 60px 70px;
    text-align:center;
}

.form-box h1{
    font-size: 30px;
    color:rgba(79, 48, 16, 0.8);
    margin-bottom: 60px;
    position: relative;
}

.form-box p{
    font-size: 20px;
} 

.dark-mode .form-box { 
    background: #333;
}

.dark-mode .form-box h1{
    color:rgba(215, 144, 73, 0.8);
} 

.dark-mode .input-field{
    background: #484646;}
    

.form-box h1::after{
    content: '';
    width:30px;
    height:4px;
    border-radius: 3px;
    background: rgba(79, 48, 16, 0.8);
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.input-field{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-field button{
    flex-basis: 48%;
    background: rgba(79, 48, 16, 0.8);
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s; 
}

.btn-field button.disable{
    background: #eaeaea;
    color:#555;
}

.input-group{
    height:280px;
}


/* log out buttom */
.logout-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #938989; 
    color: #000000; 
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100px;
}

.logout-btn:hover {
    background-color: #cb6060;
}


