/* Navigation Bar */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

header{
    height: 75;
    justify-content: space-between;
    display: flex;
    height: 70px;
    background-color: #938989;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-family: "Constantia", serif;
    font-size: 20px;
}

footer{
    height: 75;
    height: 70px;
    background-color: #938989;
}

.logo{
    display: flex;
    align-items: center;

}

a{
    text-decoration: None;
    color:#333;
}
.logo img{
    height: 50px;
    margin-left: 10px;
}

nav a{
    padding-left: 20px;
}

.nav-container {
    display: flex;
    align-items: center;
}

.welcome-user{
    padding-left: 15px;
} 

.log-out-btn{
    border-radius: 10px; 
    padding: 10px; 
    background-color: #8d1a1a; 
    width: 100px;
    padding-left: 10px;
    margin-left: 15px;
}

.log-out-btn a {
    color: white;
    font-weight: bold;
}
.dark-mode-btn { 
    background-color: beige;
    border: 2px solid #000000; 
    /* Borde del botón */ 
    color: #000000; /* Color del texto del botón */ 
    padding: 10px 15px; /* Espaciado interno del botón */ 
    border-radius: 5px; /* Redondeado de los bordes del botón */ 
    cursor: pointer; /* Cursor al pasar sobre el botón */ /* Estilos adicionales para alinear imagen y texto */ 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    font-family: "Constantia", serif;
} /* Estilo para la imagen dentro del botón */ 

.dark-mode-btn img{
    width: 40px; 
    /* Ancho de la imagen */ 
    height: 40px; 
    /* Altura de la imagen */ 
    margin-left: 5px; /* Espacio entre el texto y la imagen */ 
}
