{% extends 'base.html' %}

{% block specific_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_allRecipes.css') }}">
{% endblock %}

{% block content %}
    
    <section class="all-recipes">
        <h1>All the recipes</h1>
            <div class="select-container">
                <label for="sorting">Ordenar por:</label>
                <select id="sorting" onchange="sortRecipes(this.value)">
                    <option value="title">Alphabetically</option>
                    <option value="rating">Best Rated</option>
                    <option value="dificulty">Difficulty</option>
                </select>
            </div>
        
            <div id="recipe-container" class="recipe-container">
                {% for recipe in recipes %}
                    <div class="recipe">
                        <h2>{{ recipe.title }}</h2>
                        <p>Usuario: {{ recipe.user.name }}</p>
                        <img class="recipe-img" src="{{ url_for('static', filename='main_photos/' + recipe.main_photo) }}" alt="Foto de la Receta">
                        <p><a class="recipe-link" href="{{ url_for('recipe.recipe_view', recipe_id=recipe.id) }}">See Recipe</a></p>
                    </div>
                {% endfor %}
            </div>
        </div>
        
        <script>
            function sortRecipes(valor) {
                fetch(`/sort_recipes/${valor}`)
                    .then(response => response.json())
                    .then(data => {
                        const recetasContainer = document.getElementById('recipe-container');
                        recetasContainer.innerHTML = '';

                        data.recipes.forEach(recipe => {
                            recetasContainer.innerHTML += `
                                <div class="recipe">
                                    <h2>${recipe.title}</h2>
                                    <p>User: ${recipe.user.name}</p>
                                    <img src="/static/main_photos/${recipe.main_photo}" alt="Foto de la Receta">
                                    <p><a class = "recipe-link" href="/recipe_view/${recipe.id}">See Recipe</a></p>
                                </div>
                            `;
                        });
                    })
            }
        </script>
    </section>
{% endblock %}
