{% extends "base.html" %}

{% block specific_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_userregister.css') }}">
{% endblock %}

{% block content %}
<div class="content">
    <div class="form-box">
        <h1>Create a New Recipe</h1>
        <form>
            <div class="input-group">
                <div class="input-field">
                    <input type="text" placeholder="Title">
                </div>
                <div class="input-field">
                    <input type="text" placeholder="Description">
                </div>
                <div class="input-field">
                    <select>
                        <option value="1">1 person</option>
                        <option value="2">2 people</option>
                        <option value="3">3 people</option>
                    </select>
                </div>
                
                <!--hay un video para poner lost password-->
            </div>
            <div class="btn-field">
                <button type="button" >Upload</button>
            </div>

        </form>
    </div>
</div>

<!--falta fotos ingredientes y steps-->
{% endblock %}