{% extends 'base.html' %}

{% block specific_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_homePage.css') }}">
{% endblock %}

{% block content %}

<section class="full-width-section">
    <div class="text-overlay">
        <h1>Delicious ideas for your Christmas dishes</h1>
    </div>
</section>

<section class="recipe-display">
    <h1 class="title-recipe">Best Rated Recipes: </h1>
        <div class=" recipes">
            {% for recipe in recipes %}
                {% include 'recipeHomePage_template.html' %}
            {% endfor %}
        </div>
</section>

{% endblock %}
