{% extends 'base.html' %}

{% block specific_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_profile.css') }}">
{% endblock %}

{% block content %}

<section class="user-info">
    <h1>User Profile</h1>
    <h2>Username: {{ user.name }}</h2>

    <h3>Created Recipes:</h3>
    <ul class="created-recipes">
        {% for recipe in user.recipes %}
            <li><b>{{ recipe.title }}</b></li>
            <a href="{{ url_for('recipe.recipe_view', recipe_id=recipe.id) }}">
            <img class="recipe-image"src="{{ url_for('static', filename='main_photos/' + recipe.main_photo) }}" alt="Recipe Image">
            </a>
        {% endfor %}
    </ul>
    
    <h3>Uploaded Photos for Recipes:</h3>
    <div class="uploaded-photos">
        {% for photo in user.photos %}
            <img src="{{ photo.url }}" alt="{{ photo.title }}">
        {% endfor %}
    </div>
    {% if current_user.is_authenticated and current_user.id == user.id %}
        <h3>Bookmarked Recipes:</h3>
        <div class="bookmarked-recipes">
            {% for bookmarked_recipe in user.bookmarks %}
                <h2 class="recipe-title">{{ bookmarked_recipe.recipes.title }}</h2>
                <img class="recipe-img" src="{{ url_for('static', filename='main_photos/' + bookmarked_recipe.recipes.main_photo) }}"  alt="Recipe 1">
                <a class="recipe-link" href="{{ url_for('recipe.recipe_view', recipe_id=bookmarked_recipe.recipes.id) }}">View Recipe Steps</a>
            {% endfor %}
            </div>
    {% endif %}
</section>

{% endblock %}