{% extends "base.html" %}

{% block specific_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_recipeView.css') }}">
{% endblock %}

{% block content %}

<div class="recipe-container">
    <div class="title">
        <h1>{{recipe.title}}</h1>
        <img src="{{recipe.photo}}" alt="Recipe Image">
    </div>


    <div class="created-by">
        <p><b>Published by: </b> <i>{{recipe.user.name}}</i></p>
    </div>

    <div class="description">
        <p>{{recipe.description}}</p>
    </div>

    <div class="recipe-details">
        <div class="n-persons">
            <img src = "static/person.png", alt ="person_symbol">
            <p>Number of guests: <b>{{recipe.n_persons}}</b></p>
        </div>

        <div class="cooking-time">
            <img src = "static/clock.png", alt ="clock_symbol">
            <p>Cooking Time: <b>{{recipe.cooking_time}} min</b></p>
        </div>

        <div class="dificulty-level">
            <img src = "static/hat.png", alt ="hat_symbol">
            <p>Dificulty level: <b>{{recipe.dificulty}}</b></p>
        </div>

    </div>

    <div class="ingredients">
    <h2>Ingredients</h2>
        <ul>
            {% for ing in recipe.ingredients %}
                <li>{{ing}}</li> 
            {% endfor %}
        </ul>
    </div>

    <div class="steps">
        <h2>Steps</h2>
            <ol>
                {% for step in recipe.steps %}
                    <li>{{step}}</li> 
                {% endfor %}
            </ol>
    </div>

    <div class="other-photos">
    <h2>Photos from other users:</h2>
        {% for ph in recipe.other_photos %}
            <img src="{{ph}}" alt="Imagen de otro usuario">  
        {% endfor %}
    </div>
    {% if current_user.is_authenticated %}
    <div class="forms-for-users">
        <!--Rate(hecho), Bookmark and upload a photo-->
            <h2>Rate the recipe!</h2>
            <form action="{{ url_for('main.recipe1')}}" method="post">
                <div class="rating">
                    <input type="radio" id="star5" name="rating" value=5 />
                    <label for="star5"></label>
                    <input type="radio" id="star4" name="rating" value=4 />
                    <label for="star4"></label>
                    <input type="radio" id="star3" name="rating" value=3 />
                    <label for="star3"></label>
                    <input type="radio" id="star2" name="rating" value=2 />
                    <label for="star2"></label>
                    <input type="radio" id="star1" name="rating" value=1 />
                    <label for="star1"></label>
                </div>
                <div class="btn-field">
                    <button type="submit" >Rate</button>
                </div>
            </form>
          </div>
    </div>
   {% endif %} 

{% endblock %}


