<!DOCTYPE html>
<html lang="es">
<!--Todas las páginas heredarán esta, ya que contine el header y footer que tendrán todas-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Christmas Recipes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {% block specific_css %}{% endblock %}
</head>

<body>
    <header>
        <div class="logo">
            <img src = "{{ url_for('static', filename='logo.png') }}", alt ="picture fork">
            <h2>Christmas Recipes</h2>
        </div>
        <nav class="nav-container">
            <a href="{{ url_for('main.index') }}">Home</a></li>
            <a href="{{ url_for('recipe.create_recipe') }}">Create Recipe</a></li>
            {% if current_user.is_authenticated %}
                    <div class="welcome-user">Welcome, {{ current_user.name }}!</div>
                    <div class="log-out-btn">
                        <a href="{{ url_for('auth.logout') }}">Log Out</a>
                    </div>
            {% else %}
                    <a href="{{ url_for('auth.userlogin') }}">Log in</a></li>
                    <a href="{{ url_for('auth.signup') }}">Register</a></li>
           {% endif %} 

        </nav>
    </header>

    <section class="content">
        {% block content %}{% endblock %}
    </section>

    <footer>
        <!--  pie de página -->
    </footer>
</body>

</html>
